@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input .hosted-field, .form-input input, .form-input textarea {
    border: 1px solid #c7c7c7;
    border-radius: 20px;
    color: #393939;
    display: block;
    font-size:100%;
    height: 2.875em;
    line-height: 3.25em;
    margin: 0;
    outline: 0;
    padding: 0 1.125em;
    width: 80%;
}

.box{
    
    background-image: url(./Components/assets/imgimg.jpg);
    background-size: 100%;
    background-position: 20%;
    width: 100%;
    background-repeat: no-repeat;
    
   
    padding: 15%;
   
    
}

.behindbox{
    
    background: pink;
    width: 50%;
    border-radius: 50px;
    padding: 20%;
    margin: 1%;


}
.footer_social div {
    display: inline-flex;
    position: relative;
    width: 35px;
    height: 35px;
}
.gf-header__text {
    font-size: 2.75em;
    font-weight: 800;
    margin-bottom: 0.3125em;
    margin-top: 0.3125em;
    color: #FFFF;
}
